@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');

$main-fontType: 'Roboto', sans-serif;

$fixednav-color: rgba(34, 34, 34, 0.12);
$fixednavitem-color:rgba(34, 34, 34, 0.78);
$navcolor: rgba(253, 210, 22, 0.87);
$navitem-color: rgba(255, 255, 255, 0.78);
$selecteditem-color: rgba(171, 141, 8, 0.78);
$mininav-color: rgb(255, 255, 255);
$mininavitem-color: rgba(34, 34, 34, 0.38);
$zuri-color: rgba(252, 26, 26, 0.87);
$subnavbar-color: rgba(211, 211, 211, 1);

