@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  transition-duration: 500ms; }

header .menu {
  background-color: rgba(34, 34, 34, 0.12);
  position: fixed;
  width: 100vw; }
  header .menu .menu__items {
    width: 40%;
    padding: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    float: right;
    color: rgba(34, 34, 34, 0.78); }
header .navbar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 8px;
  position: relative;
  top: 43px;
  background-color: rgba(253, 210, 22, 0.87); }
  header .navbar .navbar__zuri {
    color: rgba(252, 26, 26, 0.87);
    font-size: 24px;
    padding-left: 60px; }
  header .navbar .navbar__items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4px; }
    header .navbar .navbar__items .first a,
    header .navbar .navbar__items .second a,
    header .navbar .navbar__items .third a {
      text-decoration: none;
      color: white; }
    header .navbar .navbar__items .first img,
    header .navbar .navbar__items .second img,
    header .navbar .navbar__items .third img {
      padding-left: 12px;
      width: 24px;
      height: 20px;
      float: right; }
  header .navbar .navbar__uuki {
    justify-self: end;
    font-size: 24px;
    padding-right: 60px; }
header .sub-navbar {
  background-color: lightgray;
  position: relative;
  top: 56px;
  display: grid;
  grid-template-columns: 6fr 1fr;
  padding: 4px; }
  header .sub-navbar .raw__products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 48px; }
    header .sub-navbar .raw__products .first,
    header .sub-navbar .raw__products .second,
    header .sub-navbar .raw__products .third,
    header .sub-navbar .raw__products .forth,
    header .sub-navbar .raw__products .fifth,
    header .sub-navbar .raw__products .sixth {
      display: flex;
      flex-direction: column;
      padding: 8px; }
      header .sub-navbar .raw__products .first a,
      header .sub-navbar .raw__products .second a,
      header .sub-navbar .raw__products .third a,
      header .sub-navbar .raw__products .forth a,
      header .sub-navbar .raw__products .fifth a,
      header .sub-navbar .raw__products .sixth a {
        text-decoration: none;
        color: rgba(34, 34, 34, 0.38);
        font-size: 14px;
        padding-top: 4px; }
      header .sub-navbar .raw__products .first img,
      header .sub-navbar .raw__products .second img,
      header .sub-navbar .raw__products .third img,
      header .sub-navbar .raw__products .forth img,
      header .sub-navbar .raw__products .fifth img,
      header .sub-navbar .raw__products .sixth img {
        width: 28px;
        height: 24px; }
  header .sub-navbar .flavoured__products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 48px; }
    header .sub-navbar .flavoured__products .first,
    header .sub-navbar .flavoured__products .second,
    header .sub-navbar .flavoured__products .third,
    header .sub-navbar .flavoured__products .forth,
    header .sub-navbar .flavoured__products .fifth,
    header .sub-navbar .flavoured__products .sixth {
      color: rgba(34, 34, 34, 0.38);
      padding: 8px;
      text-align: center; }
      header .sub-navbar .flavoured__products .first p,
      header .sub-navbar .flavoured__products .second p,
      header .sub-navbar .flavoured__products .third p,
      header .sub-navbar .flavoured__products .forth p,
      header .sub-navbar .flavoured__products .fifth p,
      header .sub-navbar .flavoured__products .sixth p {
        font-size: 14px; }
      header .sub-navbar .flavoured__products .first img,
      header .sub-navbar .flavoured__products .second img,
      header .sub-navbar .flavoured__products .third img,
      header .sub-navbar .flavoured__products .forth img,
      header .sub-navbar .flavoured__products .fifth img,
      header .sub-navbar .flavoured__products .sixth img {
        display: inline-block;
        width: 28px;
        height: 24px; }
  header .sub-navbar .honey__products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 48px; }
    header .sub-navbar .honey__products .first,
    header .sub-navbar .honey__products .second,
    header .sub-navbar .honey__products .third,
    header .sub-navbar .honey__products .forth,
    header .sub-navbar .honey__products .fifth,
    header .sub-navbar .honey__products .sixth {
      color: rgba(34, 34, 34, 0.38);
      padding: 8px;
      text-align: center; }
      header .sub-navbar .honey__products .first p,
      header .sub-navbar .honey__products .second p,
      header .sub-navbar .honey__products .third p,
      header .sub-navbar .honey__products .forth p,
      header .sub-navbar .honey__products .fifth p,
      header .sub-navbar .honey__products .sixth p {
        font-size: 14px; }
      header .sub-navbar .honey__products .first img,
      header .sub-navbar .honey__products .second img,
      header .sub-navbar .honey__products .third img,
      header .sub-navbar .honey__products .forth img,
      header .sub-navbar .honey__products .fifth img,
      header .sub-navbar .honey__products .sixth img {
        display: inline-block;
        width: 28px;
        height: 24px; }
  header .sub-navbar img {
    width: 30px;
    height: 24px;
    justify-self: center;
    align-self: center; }

/*# sourceMappingURL=main.css.map */
