@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0; }

.product-desc {
  display: flex; }
  .product-desc .product-text {
    position: relative;
    top: 100px;
    width: 400px;
    padding-left: 48px;
    border-right: 2px solid #bbbbbb;
    height: calc(100vh - 220px); }
    .product-desc .product-text p {
      color: rgba(34, 34, 34, 0.54); }
    .product-desc .product-text .product-text__price {
      font-size: 24px; }
    .product-desc .product-text .product-text__size {
      padding: 24px 0;
      font-size: 18px; }
    .product-desc .product-text .product-text__quantities {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      border-top: 1px solid lightgray; }
      .product-desc .product-text .product-text__quantities .quarter,
      .product-desc .product-text .product-text__quantities .half,
      .product-desc .product-text .product-text__quantities .full,
      .product-desc .product-text .product-text__quantities .twice {
        padding: 20px;
        position: relative; }
      .product-desc .product-text .product-text__quantities .quarter::after {
        position: absolute;
        content: '';
        height: 3px;
        background-color: rgba(253, 210, 22, 0.87);
        top: 0;
        left: 0;
        width: 100%; }
    .product-desc .product-text .product-text__title {
      padding-top: 24px; }
    .product-desc .product-text .product-text__selection {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding-top: 12px;
      width: 25%; }
      .product-desc .product-text .product-text__selection .add,
      .product-desc .product-text .product-text__selection .minus {
        width: 20px;
        height: 20px; }
      .product-desc .product-text .product-text__selection .number {
        background-color: #bbbbbb;
        width: 20px;
        height: 20px;
        text-align: center; }
    .product-desc .product-text .product-text__buttons {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding-top: 48px;
      width: 70%; }
      .product-desc .product-text .product-text__buttons .bag {
        background-color: rgba(253, 210, 22, 0.87);
        color: white;
        padding: 10px 15px;
        text-align: center;
        font-size: 12px;
        text-decoration: none;
        border: none;
        cursor: pointer; }
      .product-desc .product-text .product-text__buttons .out {
        background-color: white;
        padding: 10px 15px;
        text-align: center;
        font-size: 12px;
        text-decoration: none;
        border: 2px solid #bbbbbb;
        cursor: pointer; }
  .product-desc .honey-details {
    padding-top: 100px; }
  .product-desc .product-image {
    display: flex;
    position: relative;
    top: 90px;
    width: calc(100vw - 400px);
    padding-left: 48px;
    height: calc(100vh - 180px); }
    .product-desc .product-image .slide-container {
      width: 350px;
      height: 420px;
      overflow: hidden; }
      .product-desc .product-image .slide-container .image-container {
        width: 2400px;
        height: 350px;
        position: relative;
        transition-duration: 500ms;
        transition-timing-function: ease-out; }
        .product-desc .product-image .slide-container .image-container .honey-jar {
          width: 350px;
          height: 350px;
          float: left; }
          .product-desc .product-image .slide-container .image-container .honey-jar .honey-name {
            font-size: 36px;
            padding-bottom: 24px; }
          .product-desc .product-image .slide-container .image-container .honey-jar .slider-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            padding-right: 24px; }
  .product-desc .hexagon {
    position: relative;
    top: 18px;
    right: -18%;
    width: 100%;
    height: 100%;
    transition-duration: 1s; }

header .menu {
  background-color: rgba(34, 34, 34, 0.12);
  position: fixed;
  width: 100vw; }
  header .menu .menu__items {
    width: 40%;
    padding: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    float: right;
    color: rgba(34, 34, 34, 0.78); }
header .navbar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 8px;
  position: relative;
  top: 43px;
  background-color: rgba(253, 210, 22, 0.87); }
  header .navbar .navbar__zuri {
    color: rgba(252, 26, 26, 0.87);
    font-size: 24px;
    padding-left: 60px; }
  header .navbar .navbar__items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4px; }
    header .navbar .navbar__items .first a,
    header .navbar .navbar__items .second a,
    header .navbar .navbar__items .third a {
      text-decoration: none;
      color: white; }
    header .navbar .navbar__items .first img,
    header .navbar .navbar__items .second img,
    header .navbar .navbar__items .third img {
      padding-left: 12px;
      width: 24px;
      height: 20px;
      float: right; }
  header .navbar .navbar__uuki {
    justify-self: end;
    font-size: 24px;
    padding-right: 60px; }
header .sub-navbar {
  background-color: lightgray;
  position: relative;
  top: 56px;
  display: grid;
  grid-template-columns: 6fr 1fr;
  padding: 4px; }
  header .sub-navbar .raw__products, header .sub-navbar .flavoured__products, header .sub-navbar .honey__products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 48px; }
    header .sub-navbar .raw__products a, header .sub-navbar .flavoured__products a, header .sub-navbar .honey__products a {
      text-decoration: none;
      color: rgba(34, 34, 34, 0.38);
      font-size: 14px;
      padding-top: 4px; }
      header .sub-navbar .raw__products a .first,
      header .sub-navbar .raw__products a .second,
      header .sub-navbar .raw__products a .third,
      header .sub-navbar .raw__products a .forth,
      header .sub-navbar .raw__products a .fifth,
      header .sub-navbar .raw__products a .sixth, header .sub-navbar .flavoured__products a .first,
      header .sub-navbar .flavoured__products a .second,
      header .sub-navbar .flavoured__products a .third,
      header .sub-navbar .flavoured__products a .forth,
      header .sub-navbar .flavoured__products a .fifth,
      header .sub-navbar .flavoured__products a .sixth, header .sub-navbar .honey__products a .first,
      header .sub-navbar .honey__products a .second,
      header .sub-navbar .honey__products a .third,
      header .sub-navbar .honey__products a .forth,
      header .sub-navbar .honey__products a .fifth,
      header .sub-navbar .honey__products a .sixth {
        display: flex;
        flex-direction: column;
        padding: 8px; }
    header .sub-navbar .raw__products img, header .sub-navbar .flavoured__products img, header .sub-navbar .honey__products img {
      width: 28px;
      height: 24px; }
  header .sub-navbar img {
    width: 30px;
    height: 24px;
    justify-self: center;
    align-self: center; }

body {
  overflow: hidden; }

/*# sourceMappingURL=main.css.map */
